@model List<AgendaElectronica.Core.Models.Contacto>
@{
    ViewData["Title"] = "Contactos";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Contactos</h4>
                </div>
                <div class="card-body">
                    <div class="text-left">
                        <button type="button" class="btn btn-success is-filled" id="btnNuevoContact">Nuevo</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Celular</th>
                                <th>Email</th>
                                <th>Fotogrfía</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var contacto in Model)
                            {
                                <tr>

                                    <td>@contacto.GetNombreCompleto()</td>
                                    <td>@contacto.Direccion</td>
                                    <td>
                                        @(string.IsNullOrEmpty(contacto.TelefonoTrabajo) ? "N/A" : contacto.TelefonoTrabajo)
                                    </td>
                                    <td>
                                        @(string.IsNullOrEmpty(contacto.TelefonoMovil) ? "N/A" : contacto.TelefonoMovil)
                                    </td>
                                    <td>
                                        @(string.IsNullOrEmpty(contacto.Email) ? "N/A" : contacto.Email)
                                    </td>
                                    <td>
                                        @if (contacto.IdMultimedia == null || contacto.IdMultimedia == 0)
                                        {
                                            <img src="@Url.Content("img/no-image.png")" width="100" height="100" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Action("GetUrlImagen", new {idMultimedia = contacto.IdMultimedia})" width="100" height="100" />
                                        }

                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Editar" class="btn btn-success editContact" data-url="@Url.Action("CrearEditar", new {codigo = contacto.Codigo})">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger deleteContact" data-codigo="@contacto.Codigo">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-controller="Contactos" asp-action="EliminarContacto" id="frmDeleteContact" style="display: none;">
    <input type="hidden" id="codeDelete" name="idContacto"/>
</form>

<input type="hidden" id="urlNuevoContact" value="@Url.Action("CrearEditar")"/>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#btnNuevoContact').on('click', function(e) {
                e.preventDefault();
                var urlObj = $("#urlNuevoContact").val();

                location.href = urlObj;

            });

            $('.editContact').on('click', function(e) {
                e.preventDefault();
                var urlEdit = $(this).data('url');
                location.href = urlEdit;
            });

            $('.deleteContact').on('click', function (e) {
                e.preventDefault();
                var code = $(this).data('codigo');
                $('#codeDelete').val(code);
                $('#frmDeleteContact').submit();
            });
        });
    </script>
}
